---
layout: layout.liquid
title: 11ty Boilerplate
---

<body>
    <header>
        <figure class="profile-picture">
            <img src="/images/download.png" alt="Profile Picture">
        </figure>
        <section class="profile-info">
            <h1>John Doe</h1>
            <p>Username: @johndoe</p>
            <button>Edit picture/avatar</button>
        </section>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside class="follower-count">
            <p>Followers: 250</p>
            <p>Following: 250</p>
        </aside>
        <section class="profile-box">
            <article class="bio">
                <h2>Bio:</h2>
                <p>I am a UX researcher based out of Chicago. I also freelance by desiging websites for others in my free time!</p>
            </article>
            <aside class="contacts">
                <h2>Contacts</h2>
                <ul>
                    <li><a href="#">Instagram: www.instagram.com</a></li>
                    <li><a href="#">Github: www.mygithub.com</a></li>
                    <li><a href="#">LinkedIn: www.linkedin.com</a></li>
                    <li><a href="#">Website: www.mywebsite.com</a></li>
                </ul>
            </aside>
            <section class="activity-box">
                <h2>Activity</h2>
                <div class="activity-categories">
                    <div class="activity-category">
                        <a href="#">View Recent Posts</a>
                    </div>
                    <div class="activity-category">
                        <a href="#">Comments</a>
                    </div>
                    <div class="activity-category">
                        <a href="#">View Recent Connections</a>
                    </div>
                    <div class="activity-category">
                        <a href="#">Events</a>
                    </div>
                </div>
            </section>
            <section class="portfolio-box">
                <h2>Portfolio</h2>
                <div class="portfolio-categories">
                    <div class="portfolio-category">
                        <a href="#">My Blog</a>
                    </div>
                    <div class="portfolio-category">
                        <a href="#">Recent Projects</a>
                    </div>
                    <div class="portfolio-category">
                        <a href="#">Case Studies</a>
                    </div>
                </div>
            </section>
        </section>
    </main>   
</body>
</html>
