body {
    font-family: Arial, sans-serif;
    background-color: #BABDE2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFCF5;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.profile-info h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #2358bc; 
}
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.follower-count {
    background-color: #FFFCF5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-box {
    background-color: #FFFCF5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin-left: 20px;
}

.bio h2,
.contacts h2,
.activity-box h2,
.portfolio-box h2 {
    margin-top: 0;
}

.contacts ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contacts li {
    margin-bottom: 10px;
}

.activity-categories,
.portfolio-categories {
    display: flex;
    flex-wrap: wrap;
}

.activity-category,
.portfolio-category {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.activity-category a,
.portfolio-category a {
    text-decoration: none;
    color: #333;
}

.activity-category:hover,
.portfolio-category:hover {
    background-color: #f0f0f0;
}
